@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kavoon&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kavoon&family=Lilita+One&family=Roboto:wght@300&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #BDB7B7;
}

#header1{
    background-color: #000000;
    height: 240px;
    position: absolute;
    top: 0%;
    width: 100%;
}

#CulinaryCluesText{
    color: red;
    font-family: Kavoon;
    font-size: 50px;
}

#header1Text{
    text-align: left;
    color: #EED9D9;
    font-size: 55px;
    font-family: 'Kavoon', serif;
    width: 550px;
    position: absolute;
    left: 20%;
    top: -13%;
}

#brandLogo{
    position: absolute;
    left: 4%;
    top: 3%;
}

#headerLeftImage{
    position: absolute;
    top: 57%;
    left: 0%;
    width: 144px;
    height: 102px;
}

#burgerToppings{
    position: absolute;
    right: 21%;
}

#sinceLogo{
    position: absolute;
    right: 8%;
}

#paperbg{
    width: 100%;
    height: 67vh;
}

#header2Text{
    position: absolute;
    top: 30%;
    left: 3%;
    font-size: 27px;
    width: 1045px;
    color: #8F8687;
    text-align: left;
    font-family: 'Lilita One', sans-serif;
}

#searchBar{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: #A7A2A2;
    border: none;
    width: 344px;
    height: 42px;
    color: #433B3B;
    font-size: 20px;
    text-align: center;
    font-family: 'Kavoon';
    font-weight: bold;
}

#searchBar::placeholder{
    color: #433B3B;
    font-family: 'Kavoon';
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fryingPanIcon{
    position: absolute;
    right: 10%;
    top: 35%;
}

#mainSection{
    margin-top: 0px;
    background-color: #BDB7B7;
    height: 700px;
    margin: 0;
}

#randomMeals{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4B3737;
    font-family: 'Kavoon';
    font-size: 23px;
}

.ShortLine{
    stroke: #000000;
    stroke-width: 3px;
    background-color: #000000;
    width: 201px;
}

#shortLineBottomRandom{
    position: absolute;
    top: 74%;
    left: 43.5%;
}

#containerRandomItems{
    position: absolute;
    top: 97%;
    left: 49.5%;
    transform: translate(-50%, -50%);
}

#food{
    position: absolute;
    left: 6.5%;
    top: 5%;
}

#longLine{
    width: 1360px;
    stroke: #9A7777;
    position: absolute;
    top: 120%;
    left: 5%;
}

#searchedMeals{
    position: absolute;
    top: 124.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4B3737;
    font-family: 'Kavoon';
    font-size: 23px;
}

#shortLineTopSearched{
    position: absolute;
    top: 122%;
    left: 43.4%;
}

#shortLineBottomSearched{
    position: absolute;
    top: 129%;
    left: 43.4%;
}

.container{
    border-radius: 10px;
    background: #D9D9D9;
    width: 172px;
    height: 320px;
    margin: 10px;
}

#flexItems{
    position: absolute;
    top: 132%;
    
}

#searchedSection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#hiddenSection{
    display: none;
}

#modal{
    position: absolute;
    top: 58%;
    left: 29%;
    border-radius: 10px;
    background: #D9D9D9;
    width: 600px;
    height: 570px;
    margin: 10px;
    display: none;
}

#foodImage{
    position: absolute;
    left: 7%;
    top: 2%;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

#foodTitle{
    position: absolute;
    bottom: 20%;
    left: 0%;
    color: #4B3737;
    font-family: 'Kavoon';
    font-size: 1.2em;
    width: 175px;
}

.foodSearched{
    position: absolute;
    margin-top: 10px;
    margin-left: -75px;
    border-radius: 15px;
    height: 200px;
    width: 150px;
}

.foodnameSearched{
    position: absolute;
    margin-top: 35vh;
    color: #4B3737;
    font-family: 'Kavoon';
    font-size: 1.2em;
    width: 175px;
}

#recipebutton{
    position: absolute;
    bottom: 4%;
    right: 18%;
    padding: 9px 10px;
    background-color: #8d6d6d;
    color: #fff; 
    font-size: 16px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:hover {
        background-color: #4B3737; 
    }
}

#cancelButton{
    height: 50px;
    width: 50px;
    margin-left: 500px;
    margin-top: 20px;
    background-color: #D9D9D9;
    outline: none;
    border: none;
    cursor: pointer;
}

#cancelIcon{
    font-size: 3em;
    color: #362626;
}

#ingredients{
    margin-top: -45px;
    color: #4B3737;
    font-family: 'kavoon';
}

#list{
    position: absolute;
    font-size: 1.3em;
    line-height: 20px;
    font-family: 'Lilita One';
    color: #333; 
}

#foodModal{
    position: absolute;
    right: 11%;
    top: 20%;
    width: 150px;
    height: 150px;
}

#foodNameModal{
    position: absolute;
    right: 11%;
    top: 44%;
    color: #4B3737;
    font-family: 'Kavoon';
    font-size: 1em;
    width: 150px;
}

@media only screen and (max-width: 912px) {
    
    body{

        text-align: center;
        margin: 0;
        padding: 0;
        color: white;
        background-color: #BDB7B7;
    }

    #brandLogo{
        position: absolute;
        left: 0%;
        top: 30%;
        height: 8vh;
    }

    #header1{
        background-color: #000000;
        height: 240px;
        position: absolute;
        top: 0%;
        width: 90%;
    }

    #headerLeftImage{
      display: none;
    }

    #header1Text{
        text-align: left;
        color: #EED9D9;
        font-size: 1.4em;
        font-family: 'Kavoon', serif;
        width: 25vw;
        position: absolute;
        left: 35%;
        top: 26%;
    }

    #CulinaryCluesText{
        color: red;
        font-family: 'Kavoon';
        font-size: 1em;
    }

    #burgerToppings{
        position: absolute;
        left: 70%;
        height: 21.1vh;
    }

    #sinceLogo{
        display: none;
    }

    #paperbg{
        width: 101%;
        height: 37vh;
    }
    
    #header2Text{
        position: absolute;
        top: 20%;
        left: 1%;
        font-size: 0.9em;
        width: 45vw;
        color: #8F8687;
        text-align: left;
        font-family: 'Lilita One', sans-serif;
    }
    
    #searchBar{
        position: absolute;
        top: 35%;
        left: 50%;
        border-radius: 5px;
        background: #A7A2A2;
        border: none;
        width: 17vw;
        height: 4vw;
        color: #433B3B;
        font-size: 20px;
        text-align: center;
        font-family: 'Kavoon';
        font-weight: bold;
    }
    
    #searchBar::placeholder{
        color: #433B3B;
        font-family: 'Kavoon';
        font-size: 0.7em;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #fryingPanIcon{
        position: absolute;
        right: 10%;
        top: 24%;
        height: 5vh;
    }

    #randomMeals{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #4B3737;
        font-family: 'Kavoon';
        font-size: 23px;
    }
    
    .ShortLine{
        stroke: #000000;
        stroke-width: 3px;
        background-color: #000000;
        width: 201px;
    }
    
    #shortLineTopRandom{
        position: absolute;
        top: 38%;
        left: 39%;
    }
    
    #shortLineBottomRandom{
        position: absolute;
        top: 43.5%;
        left: 39%;
    }
    
    #containerRandomItems{
        position: absolute;
        top: 59.5%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    
    #longLine{
        width: 90vw;
        stroke: #9A7777;
        position: absolute;
        top: 76.5%;
        left: 5%;
        background-color: #000000;
    }
    
    #searchedMeals{
        position: absolute;
        top: 81%;
        left: 50%;
        color: #4B3737;
        font-family: 'Kavoon';
        font-size: 23px;
    }
    
    #shortLineTopSearched{
        position: absolute;
        top: 79%;
        left: 39%;
    }
    
    #shortLineBottomSearched{
        position: absolute;
        top: 84.5%;
        left: 39%;
    }
    
    .container{
        border-radius: 10px;
        background: #D9D9D9;
        width: 172px;
        height: 320px;
        margin: 10px;
    }
    
    #flexItems{
        position: absolute;
        top: 88%;
    }
    
    #searchedSection{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .foodnameSearched{
        position: absolute;
        margin-top: 22.1vh;
        color: #4B3737;
        font-family: 'Kavoon';
        font-size: 1.2em;
        width: 175px;
    }
    
    #hiddenSection{
        display: none;
    }
    
    #modal{
        position: absolute;
        top: 58%;
        left: 29%;
        border-radius: 10px;
        background: #D9D9D9;
        width: 600px;
        height: 570px;
        margin: 10px;
        display: none;
    }

}

@media only screen and (max-width: 710px) {

    #paperbg{
        width: 100%;
        height: 37vh;
    }

    #header2Text{
        position: absolute;
        top: 20%;
        left: 1%;
        font-size: 0.9em;
        width: 60vw;
        color: #8F8687;
        text-align: left;
        font-family: 'Lilita One', sans-serif;
    }

    #header1Text{
        text-align: left;
        color: #EED9D9;
        font-size: 1.4em;
        font-family: 'Kavoon', serif;
        width: 35vw;
        position: absolute;
        left: 35%;
        top: 26%;
    }

    #searchBar{
        position: absolute;
        top: 34%;
        left: 50%;
        border-radius: 5px;
        background: #A7A2A2;
        border: none;
        width: 18vw;
        height: 5vw;
        color: #433B3B;
        font-size: 20px;
        text-align: center;
        font-family: 'Kavoon';
        font-weight: bold;
    }

    #searchBar::placeholder{
        color: #433B3B;
        font-family: 'Kavoon';
        font-size: 0.5em;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #shortLineTopRandom{
        position: absolute;
        top: 38%;
        left: 35.5%;
    }
    
    #shortLineBottomRandom{
        position: absolute;
        top: 43.5%;
        left: 35.5%;
    }

    #shortLineTopSearched{
        position: absolute;
        top: 79%;
        left: 35.5%;
    }
    
    #shortLineBottomSearched{
        position: absolute;
        top: 84.5%;
        left: 35.5%;
    }

}

@media only screen and (max-width: 412px){

    #paperbg{
        width: 164%;
        height: 37vh;
    }

    #header2Text{
        position: absolute;
        top: 20.5%;
        left: 2%;
        font-size: 0.8em;
        width: 90vw;
        color: #8F8687;
        text-align: left;
        font-family: 'Lilita One', sans-serif;
    }    

    #header1Text{
        text-align: left;
        color: #EED9D9;
        font-size: 1.4em;
        font-family: 'Kavoon', serif;
        width: 60vw;
        position: absolute;
        left: 45%;
        top: 26%;
    }

    #burgerToppings{
        position: absolute;
        left: 90%;
        height: 21.1vh;
    }

    #searchBar{
        position: absolute;
        top: 35%;
        left: 80%;
        border-radius: 5px;
        background: #A7A2A2;
        border: none;
        width: 30vw;
        height: 7vw;
        color: #433B3B;
        font-size: 20px;
        text-align: center;
        font-family: 'Kavoon';
        font-weight: bold;
    }
    
    #searchBar::placeholder{
        color: #433B3B;
        font-family: 'Kavoon';
        font-size: 0.5em;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #fryingPanIcon{
        position: absolute;
        left: 135%;
        top: 24%;
        height: 5vh;
    }

    #randomMeals{
        position: absolute;
        top: 40%;
        left: 80%;
        width: 39vw;
        color: #4B3737;
        font-family: 'Kavoon';
        font-size: 23px;
    }
    
    #shortLineTopRandom{
        position: absolute;
        top: 38%;
        left: 55%;
    }
    
    #shortLineBottomRandom{
        position: absolute;
        top: 43.5%;
        left: 55%;
    }
    
    #containerRandomItems{
        position: absolute;
        top: 59.5%;
        left: 78%;
        transform: translate(-50%, -50%);
    }
    
    #longLine{
        width: 152vw;
        stroke: #9A7777;
        position: absolute;
        top: 76.5%;
        left: 5%;
        background-color: #000000;
    }
    
    #searchedMeals{
        position: absolute;
        top: 81%;
        left: 80%;
        width: 40vw;
        color: #4B3737;
        font-family: 'Kavoon';
        font-size: 23px;
    }
    
    #shortLineTopSearched{
        position: absolute;
        top: 79%;
        left: 55%;
    }
    
    #shortLineBottomSearched{
        position: absolute;
        top: 84.5%;
        left: 55%;
    }

    #flexItems{
        position: absolute;
        top: 90%;
        margin-left: 5%;
        width: 150vw
        
    }

    #cancelButton{
        height: 50px;
        width: 50px;
        margin-left: 500px;
        margin-top: 20px;
        background-color: #D9D9D9;
        outline: none;
        border: none;
        cursor: pointer;
    }
    
    #cancelIcon{
        font-size: 3em;
        color: #362626;
    }
    
    #ingredients{
        margin-top: -45px;
        color: #4B3737;
        font-family: 'kavoon';
    }
    
    #list{
        position: absolute;
        font-size: 1.3em;
        line-height: 20px;
        font-family: 'Lilita One';
        color: #333; 
    }
    

    #foodModal{
        position: absolute;
        right: 11%;
        top: 20%;
        width: 150px;
        height: 150px;
    }
    
    #foodNameModal{
        position: absolute;
        right: 11%;
        top: 44%;
        color: #4B3737;
        font-family: 'Kavoon';
        font-size: 1em;
        width: 150px;
    }

    #modal{
        position: absolute;
        top: 58%;
        left: 10%;
        border-radius: 10px;
        background: #D9D9D9;
        width: 135vw;
        height: 570px;
        margin: 10px;
        display: none;
    }

}